h1
{
  text-align: center;
}
div
{
  display: "flex";
  justify-content: space-around ;
  margin:10px;
}
ul
{
  display: "flex";
  padding: 20px;
  justify-content: left;
  margin:5px;
  border: 2px solid black;
  list-style: none;
  color: blue;
}

span
{
  padding: 30px;
}